* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content:center;
    transform: translate(0%,25%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 100px;
    background-color: hsl(47, 88%, 63%);
}

.Flex-Container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 17px;
    width: 350px;
    height: 470px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 17px 17px 0px 0px;
}

.Learn-Container h4 {
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsl(47, 88%, 63%);
    margin-top: 20px;
    margin-bottom: 15px;
}

.one {
    display: flex;
    border-radius: 13px;
}

.Img-Container {
    width: 100%;
}

.Img-Container>img {
    width: 100%;
}

h1 {
    margin: 13px 0 13px;
    font-size: 20px;
    cursor: pointer;
}

h1:hover{
    color: hsl(47, 88%, 63%);;
}



.img-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 0px;
}

.img-2 img {
    width: 10%;
}

.img-2 h3 {
    margin-left: 10px;
    font-weight: 800;
    font-size: 15px;
}

.p-spacing p {
    line-height: 1.5;
}